@charset "UTF-8";


html,body{
	margin:0;
	height: 100%;
	font-family: Supermarketed;
}
body{
	background-image:url("../Images/équipe.png");
	background-attachment: fixed;
	background-position: inherit;
	background-repeat: no-repeat;
	background-size: cover;
}

#btns_connexion{
	background: rgb(0,139,255);
	background: linear-gradient(90deg, rgba(0,139,255,1) 0%, rgba(0,203,255,1) 50%, rgba(0,139,255,1) 100%);
	padding-bottom: 20px;
}
#btns_connexion img#logoBandB{
	width:20%;
	height:20%;
	margin-bottom: -20px;
	padding-bottom:20px;
	padding-top:20px;
}

#origine_ouiCreche{
	font-weight: bold;
	font-size: 25px;
}

#synopsis{
	text-align: center;
	
}

footer{
	background: rgb(0,139,255);
	background: linear-gradient(90deg, rgba(0,139,255,1) 0%, rgba(0,203,255,1) 50%, rgba(0,139,255,1) 100%);
	height:220px;
	display: block;
	padding:20px;
	margin-top:155px;
	position:sticky;
	
}

footer p{
	color: white;
	
}

footer p a#lien_site{
	text-decoration:none;
	color :white;
}

/* MEDIAS QUERIES */
/* FOOTER */
@media screen and (min-width:630px) and (max-width:800px){
	
	footer{
		height: 240px;
	}
}

@media screen and (max-width:630px) {
	
	footer{
		height: 260px;
	}
}
/* Dézoom de l'encran (de 100%à 30%)*/


@media screen and (min-width:1519.2px) and (min-height:750.4px) and (max-width:1696px) and (max-height:828.567px){
	footer{
		margin-top: 230px;
	}
}
@media screen and (min-width:1696px) and (min-height:828.567px) and (max-width:1920px) and (max-height:938px){
	footer{
		margin-top: 320px;
	}
}
@media screen and (min-width:1920px) and (min-height:938px) and (max-width:2208px) and (max-height:1078.7px){
	footer{
		margin-top: 430px;
	}
}
@media screen and (min-width:2208px) and (min-height:1078.7px) and (max-width:2560px) and (max-height:1250.67px){
	footer{
		margin-top: 520px;
		height: 500px;
	}
	footer p{
		font-size: 30px;
	}
	#origine_ouiCreche{
		font-weight: bold;
		font-size: 40px;
	}
	p#synopsis{
		font-size: 30px;
	}
}

@media screen and (min-width:2560px) and (min-height:1250.67px) and (max-width:3038.4px) and (max-height:1500.8px){
	footer{
		margin-top: 520px;
		height: 500px;
	}
	footer p{
		font-size: 30px;
	}
	#origine_ouiCreche{
		font-weight: bold;
		font-size: 40px;
	}
	p#synopsis{
		font-size: 30px;
	}
}

@media screen and (min-width:3038.4px) and (min-height:1500.8px) and (max-width:3840px) and (max-height:1876px){
	footer{
		margin-top: 700px;
		height: 500px;
	}
	footer p{
		font-size: 30px;
	}
	#origine_ouiCreche{
		font-weight: bold;
		font-size: 40px;
	}
	p#synopsis{
		font-size: 30px;
	}
}
@media screen and (min-width:3840px) and (min-height:1876px) and (max-width:5120px) and (max-height:2501.33px){
	footer{
		margin-top: 810px;
		height: 700px;
	}
	footer p{
		font-size: 50px;
	}
	#origine_ouiCreche{
		font-weight: bold;
		font-size: 60px;
	}
	p#synopsis{
		font-size: 50px;
	}
}
/* FIN MEDIAS QUERIES *************************************************************************************************************/