@charset "UTF-8";

html,body{
	margin:0;
	height: 100%;
	font-family: Supermarketed;
	background-image:url("../Images/Gestionnaire%20page%20de%20garde.jpg");
	background-attachment: fixed;
	background-position: inherit;
	background-repeat: no-repeat;
	background-size: cover; 
	
}
 
#libellé_enseigne{
	margin-top: 70px;	
}

#libellé_espace_pro{
	margin-top:-65px;
	margin-left:1350px;
	
}

#libellé_espace_pro{
	color: white;
	font-weight: bold;
}

#choix_site_action{
	margin-top: -50px;
}

#btns_connexion{
	background: rgb(0,139,255);
	background: linear-gradient(90deg, rgba(0,139,255,1) 0%, rgba(0,203,255,1) 50%, rgba(0,139,255,1) 100%);
	padding-bottom: 20px;	
}

#btns_connexion img#logoBandB{
	width:20%;
	height:20%;
	margin-bottom: -20px;
	padding-bottom:20px;
	padding-top:20px;
}
#contenu_page{
	padding-bottom: 5%;	
}

#choix_site{
	margin-left: 150px;
}
#choix_site,#choix_action,#choix_du_mois,#choix_de_l_année{
	width: 200px;
	height: 50px;
}
#validation,#validationPlanif,#confirmation{
	width: 100px;
	height: 25px;
	/* opacity: 30%; */
}

table
{
    border-collapse: collapse;
    background-color: white;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}	



#sectionPlanification_crénaux_dispo{
	margin-left: 560px;
	margin-top: -50px;
	
}

footer{
	background: rgb(0,139,255);
	background: linear-gradient(90deg, rgba(0,139,255,1) 0%, rgba(0,203,255,1) 50%, rgba(0,139,255,1) 100%);
	height:220px;
	display: block;
	padding:20px;
	margin-top:150px;
	position:sticky;
	
}

footer p{
	color: white;
	
}

footer p a#lien_site{
	text-decoration:none;
	color :white;
}
footer p a#lien_site:hover{
	/* color: rgba(106,144,255,0.58); */
	color: rgba(0,139,255,1);
}

/* MEDIA QUERIES */
/* HEADER+FOOTER */
@media screen and (min-width:1381.2px) and (max-width:1456px) {
	#libellé_espace_pro{
		margin-left: 1300px;
	}
	
	footer{
		margin-top: 150px;
	}
}

@media screen and (min-width:1288px) and (max-width:1381.2px){
	#libellé_espace_pro{
		margin-left: 1200px;
	}
	
	footer{
		margin-top: 150px;
	}
	
}

@media screen and (min-width:1230px) and (max-width:1288px) {
	#libellé_espace_pro{
		margin-left: 1150px;
	}
	
	footer{
		margin-top: 190px;
	}
	
}

@media screen and (min-width:1168px)   and (max-width:1230px) {
	#libellé_espace_pro{
		margin-left: 1050px;
	}
	
	footer{
		margin-top: 190px;
	}
	
}

@media screen and (min-width:1079.2px) and (max-width:1168px){
	#libellé_espace_pro{
		margin-left: 1000px;
	}
	
	footer{
		margin-top: 190px;
	}
	
}
/* and (min-width:) */
@media screen and (min-width:1029.2px) and (max-width:1079.2px){
	#libellé_espace_pro{
		margin-left: 950px;
	}
	
	footer{
		margin-top: 190px;
	}
}

@media screen and (min-width:980.4px) and (max-width:1029.2px) {
	#libellé_espace_pro{
		margin-left: 900px;
	}
	
	footer{
		margin-top: 190px;
	}
}

@media screen  and (min-width:934.4px) and (max-width:980.4px)  {
	#libellé_espace_pro{
		margin-left: 850px;
	}
	
	footer{
		margin-top: 190px;
	}
}
/* and (min-width:872px) */
@media screen and (min-width:882px) and (max-width:934.4px){
	#libellé_espace_pro{
		margin-left: 800px;
	}
	
	footer{
		margin-top: 200px;
	}
}

@media screen and (min-width:830px) and (max-width:882px){
	#libellé_espace_pro{
		margin-left: 750px;
	}
	
	footer{
		margin-top: 200px;
	}
	
}

@media screen and (min-width:778.4px) and (max-width:830px){
	
	#libellé_espace_pro{
		margin-left: 700px;
	}
	
	footer{
		margin-top: 220px;
	}
}

@media screen and (min-width:730.2px) and (max-width:778.4px){
	
	#libellé_espace_pro{
		margin-left: 650px;
	}
	
	footer{
		margin-top: 250px;
		height: 240px;
	}
}

@media screen and (min-width:678.8px) and (max-width:730.2px) {
	
	#libellé_espace_pro{
		margin-left: 600px;
	}
	
	footer{
		margin-top: 250px;
		height: 240px;
	}
}
@media screen and (min-width:626.4px) and (max-width:678.8px) {
	
	#libellé_espace_pro{
		margin-left: 550px;
	}
	
	footer{
		margin-top: 250px;
		height: 260px;
	}
}

@media screen and (min-width:582.8px) and (max-width:626.4px){
	
	#libellé_espace_pro{
		margin-left: 500px;
	}
	
	footer{
		margin-top: 250px;
		height: 260px;
	}
}

@media screen and (min-width:532.4px) and (max-width:582.8px){
	
	#libellé_espace_pro{
		margin-left: 450px;
	}
	
	footer{
		margin-top: 250px;
		height: 260px;
	}
	#validation{
		margin-left: 190px;
		margin-top: 10px;
	}
	
	#choix_action{
		margin-left: 50px;
		margin-top:10px;
	}
}
@media screen and (max-width:532.4px){
	
	#libellé_espace_pro{
		margin-left: 350px;
	}
	
	footer{
		margin-top: 250px;
		height: 260px;
	}
	#validation{
		margin-left: 190px;
		margin-top: 10px;
	}
	#choix_action{
		margin-left: 50px;
		margin-top:10px;
	}
}
/* *********************************************************************************************************** */