@charset "UTF-8";

html,body{
	margin: 0;
	height: 100%;
	font-family: Supermarketed;
	/*Il faut ajouter une (des) image(s) de fond */
	background-image:url("../Images/Canva%20-%20Colored%20Pencils.jpg");
	background-attachment: fixed;
	background-position: inherit;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#Connexion_parents,#Connexion_pro{
	padding-left: 20px;	
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-color: rgba(0,0,0,1) 100%;
	border-width: 1px;
	border-radius:5px;
	margin-top: 10px;
	background: rgb(247,0,198);
	background: linear-gradient(90deg, rgba(247,0,198,1) 0%, rgba(161,0,255,1) 48%, rgba(247,0,198,1) 100%);
	color: white;
}
#Connexion_parents{
	margin-left: 1250px;
}

#btns_connexion{
	background: rgb(247,0,198);
	background: radial-gradient(circle, rgba(247,0,198,0.7155813008797269) 8%, rgba(36,0,26,1) 100%);
	padding-bottom: 20px;
}
#menu_options_co{
	display: none;
	
}
.Choix_Espaces{
	display:none;
}

#Corps p#ident{
	font-weight:bold;
}

.Identification_parents,.Identification_pro{
	width:200px;
}
.Identification_pro{
	margin-top:-210px;
	margin-left:300px;
}

#mdp_oubli{
	 width: 300px;
	display: block;
}

section#form_connexion{
	padding-left:200px;	
	padding-bottom:40%;
}

div#btns_connexion input[type=checkbox]:checked ~ #menu_choix{
	display: block; /*quand bouton coché, fait apparaître le menu*/
	visibility: visible;
}

footer{
	background: rgb(247,0,198);
	background: radial-gradient(circle, rgba(247,0,198,0.7155813008797269) 8%, rgba(36,0,26,1) 100%);
	height:100px;
	display: block;
	padding:20px;
	position:sticky;
}

footer p{
	color: white;
	
}

footer p a#lien_site{
	text-decoration:none;
	color :white;
}
footer p a#lien_site:hover{
	color: rgba(106,144,255,0.58);
}

#Id_parent,#mdp_parent,#Id_pro{
	padding-right: 50px;
}

#mdp_pro{
	width:94%;
}
#btns_connexion img#logoBandB{
	width:20%;
	height:20%;
	margin-bottom: -20px;
	padding-bottom:20px;
	padding-top:20px;
}
#menu_choix{
	margin-top:-65px;
}

/* MEDIA QUERIES */	
@media screen and (min-width:5064px){
	#Connexion_parents{
		margin-left: 4500px;
	}
	#menu_choix input{
		font-size:40px;
	}
	footer p{
		font-size:40px;	
	}
	footer{
		 padding-bottom:110px; 
	}
	.Identification_pro{
		margin-top: -11%;
	}
	#form_connexion.Identification_pro p{
		font-size: 200px;
	}
	#Corps h1{
		font-size: 60px;
	}
}
@media screen and (min-width:3798px) and (max-width:5064px){
	#Connexion_parents{
		margin-left: 3000px;
	}
	#menu_choix input{
		font-size:30px;
	}
	footer p{
		font-size:30px;	
	}
	footer{
		 padding-bottom:100px; 
	}
	.Identification_pro{
		margin-top: -14.15%;
	}
}

@media screen and (min-width:3038.4px) and (max-width:3798px){
	#Connexion_parents{
		margin-left: 2600px;
	}
	#menu_choix input{
		font-size:25px;
	}
	footer p{
		font-size:30px;	
	}
	footer{
		 padding-bottom:100px; 
	}
	
	.Identification_pro{
		margin-top: -18%;
	}
}
@media screen and (min-width:2532px) and (max-width:3038.4px){
	#Connexion_parents{
		margin-left: 2200px;
		
	}
	#menu_choix input{
		font-size:20px;
	}
	footer p{
		font-size:30px;	
	}
	footer{
		 padding-bottom:110px; 
		 height: 5%;
	}
	.Identification_pro{
		margin-top: -18%;
	}
}

@media screen and (min-width:3038.4px){
		.Identification_parents p,.Identification_pro p{
			font-size: 32px; 
		}
		
		.Identification_parents p input,.Identification_pro p input{
			padding: 20px;
		}
	}
	
@media screen and (min-width:2183.85px) and (max-width:3038.4px){
	.Identification_parents p,.Identification_pro p{
		font-size: 24px; 
	}
	
	.Identification_parents p input,.Identification_pro p input{
		padding: 20px;
	}/* 	
	.Identification_pro{
		margin-top: -20%;
	}	 */	
}
@media screen and (min-width:2183.85px) and (max-width:2532px){
	#Connexion_parents{
		margin-left: 1850px;
	}
	footer p{
		font-size:30px;	
	}
	footer{
		 padding-bottom:100px; 
	}
	
	.Identification_pro{
		margin-top: -20%;
	}
}
@media screen and (min-width:1899px) and (max-width:2183.85px){
	#Connexion_parents{
		margin-left: 1550px;
	}
	
	footer p{
		font-size:25px;
	}
	footer{
		 padding-bottom:50px; 
	}
	
	section#form_connexion {
    	padding-left: 200px;
    	padding-bottom: 40%;
    	
	}
}
/* LIMITE ENTRE ZOOM ET DEZOOM (100%) */

@media screen and (max-width:1408px) {
	#Connexion_parents{
		margin-left: 1150px;
	}
}
@media screen and (max-width:1280px) {
	#Connexion_parents{
		margin-left: 900px;
	}
}
@media screen and (min-width:608.4px) and (max-width:1088px) {
	#Connexion_parents{
		margin-left: 750px;
	}
	#btns_connexion img#logoBandB{
		width:30%;
		height:30%;
		margin-bottom: -20px;
		padding-bottom:20px;
		padding-top:20px;
		margin-left: 110px;
	}
	
	#Corps{
		margin-left: 110px;
	}
	
	footer p{
		margin-left: 110px;
	}
	
	#menu_choix input#Connexion_parents{
		margin-left: 500px;
	}
	
	html,body{
		margin-right: -110px;
	}
	
	
}

@media screen and (max-width:960px) {
	#Connexion_parents{
		margin-left: 700px;
	}
}

@media screen and (max-width:896px) {
	#Connexion_parents{
		margin-left: 600px;
	}
}

@media screen and (max-width:800px) {
	#Connexion_parents{
		margin-left: 500px;
	}
}

@media screen and (max-width:736px) {
	#Connexion_parents{
		margin-left: 400px;
	}
	section#form_connexion{
		padding-left:100px;	
	}
	html,body{
		margin-left: -51px;
	}
	
}
@media screen and (max-width:640px) {
	#Connexion_parents{
		margin-left: 200px;
	}
}

@media screen and (max-width:608px) {
	#Connexion_parents{
		margin-left: 400px;
	}
	
	section#form_connexion{
		padding-left:20px;	
	}
	
	#Corps{
		margin-left: 110px;
	}
	
	footer p{
		margin-left: 110px;
	}
	
	#btns_connexion img#logoBandB{
		width:30%;
		height:30%;
		margin-bottom: -20px;
		padding-bottom:20px;
		padding-top:20px;
		margin-left: 110px;
	}
}



@media screen and (max-width:538.05px) {
	#Connexion_parents{
		margin-left: 250px;
	}
	.Identification_pro{
		margin:0;
	}
}
@media screen and (max-width:492px){
	#Connexion_parents{
		margin-left: 140px;
	}
	
	html,body{
		margin-right: -110px;
	}	
}	
@media screen and (max-width:408.15px) {
	#Connexion_parents{
		margin-left: 110px;
	}
	.Identification_pro{
		margin:0;
	}
}
@media screen and (max-width:352px) {
	#Connexion_parents,#Connexion_pro{
		visibility: hidden;
	}
	#menu_options_co input[type=checkbox]{
		display: none;
		
	}
	.Choix_Espaces{
		display: block;
    	color: #ccc;
    	text-align: center;
    	padding: 12px 10px;
    	background: rgb(247,0,198);
		background: linear-gradient(90deg, rgba(247,0,198,1) 0%, rgba(161,0,255,1) 48%, rgba(247,0,198,1) 100%);
    	position: fixed;
    	z-index: 2;
   		margin-top: 0;
	}
}

@media screen and (max-width:260px){

	#logoBandB {
	 	margin-left: 170px;
	}
}

@media screen and (max-width:245.7px){
	#btns_connexion{
		padding-right: 300px;
	}
}




@media screnn and (min-width:1047px) and (max-width:2498.67px){
	#Corps{
		margin-bottom: 30%;
	}
}

 @media screen and (min-width:581.967px) and (max-width:827.683px){
 	html,body{
 		margin-right: -110px;
 	}
 
 }
 
 @media screen and (min-width:316.483px) and (max-width:550.733px) {
 	html,body{
 		margin-right: -51px;
 	}
 	#Connexion_parents{
 		margin-left:400px;
 	}
 }
 
 @media screen and (min-width:249.867px) and (max-width:316.483px){
 	html,body{
 		margin-right: -51px;
 	}
 }
 