<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">


	<!-- ********************************************************************************* -->
  	
  	<!-- Page de connexion -->
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>servlets.Connexion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>

	<!-- ********************************************************************************* -->


	<!-- Page de Espace gestionnaire -->
	<servlet>
		<servlet-name>Espace_gestionnaire</servlet-name>
		<servlet-class>servlets.Espace_gestionnaire</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Espace_gestionnaire</servlet-name>
		<url-pattern>/espace_gestionnaire</url-pattern>
	</servlet-mapping>
	
	<!-- ********************************************************************************* -->
	
	<!-- Page d'index -->
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>servlets.Index</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<!-- ********************************************************************************* -->
	
	<!-- Page de contact OuiCrèches -->
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>servlets.Contact</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contacter_ouiCreches</url-pattern>
	</servlet-mapping>
	
	<!-- ********************************************************************************* -->
	
	<!-- Page de qui sommes nous -->
	<servlet>
		<servlet-name>Qui_sommes_nous</servlet-name>
		<servlet-class>servlets.Qui_sommes_nous</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Qui_sommes_nous</servlet-name>
		<url-pattern>/Qui_sommes_nous</url-pattern>
	</servlet-mapping>
	
	
	<!-- ********************************************************************************* -->
	
	<!-- Page de comment ça marche -->
	<servlet>
		<servlet-name>Comment_ca_marche</servlet-name>
		<servlet-class>servlets.Comment_ca_marche</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Comment_ca_marche</servlet-name>
		<url-pattern>/comment_ca_marche</url-pattern>
	</servlet-mapping>
	
	<!-- ********************************************************************************* -->
	
	<!-- Fichier JAVA Connexion Pro envoie à la BDD-->
	<servlet>
		<servlet-name>Connexion_pro_envoi_BDD</servlet-name>
		<servlet-class>servlets.Connexion_pro_envoi_BDD</servlet-class>
  	</servlet>
  	
	<servlet-mapping>
		<servlet-name>Connexion_pro_envoi_BDD</servlet-name>
		<url-pattern>/Identification_pro</url-pattern> 
	</servlet-mapping>
	
	
	<!-- ********************************************************************************* -->
	<!-- Fichier JAVA Demande d'inscription gestionnaire -->
	<servlet>
		<servlet-name>Demande_inscription_pro</servlet-name>
		<servlet-class>servlets.Demande_inscription_pro</servlet-class>
  	</servlet>
  	
	<servlet-mapping>
		<servlet-name>Demande_inscription_pro</servlet-name>
		<url-pattern>/demande_inscription_pro</url-pattern> 
	</servlet-mapping>
	
	<!-- ********************************************************************************* -->
	<!-- Fichier JAVA Demande d'inscription parent -->
	
	<servlet>
		<servlet-name>Demande_inscription_parent</servlet-name>
		<servlet-class>servlets.Demande_inscription_parent</servlet-class>
  	</servlet>
  	
	<servlet-mapping>
		<servlet-name>Demande_inscription_parent</servlet-name>
		<url-pattern>/demande_inscription_parent</url-pattern> 
	</servlet-mapping>
	
	<!-- ********************************************************************************* -->
	<!-- Fichier JAVA Identification pro -->
	<servlet>
		<servlet-name>Identification_pro</servlet-name>
		<servlet-class>servlets.Identification_pro</servlet-class>
  	</servlet>
  	
	<servlet-mapping>
		<servlet-name>Identification_pro</servlet-name>
		<url-pattern>/identification_pro</url-pattern> 
	</servlet-mapping>	
		
		
</web-app>